solid-connect  {
    --primary-color-main: rgb(250, 136, 3);
    --primary-color-important: rgb(182, 97, 0);
    --primary-color-medium: rgb(255, 210, 157);
    --primary-color-light: rgb(255, 231, 203);
    --secondary-color-main: rgb(107, 215, 171);
    --secondary-color-important: rgb(2, 184, 117);
    --secondary-color-light: rgb(151, 227, 196);
    --ternary-color-main: rgb(3, 201, 250);
    --ternary-color-light: rgb(184, 211, 224);
    --silver-color-main: rgb(167, 167, 167);
    --silver-color-light: rgb(230, 230, 230);
    --default-text-color: #666;
    --bg-red: 29;
    --bg-green: 224;
    --bg-blue: 153;
}